/bin/
*.bak
.DS_Store
/build/
*.class
/target/
*.log
/src/test/*.*
/.idea/
/.settings/
/.project
/.factorypath
/.classpath
/.vscode
ewa_conf.xml
ewa_conf_console.xml
*.lck
*.iml
/temp/
/debug/
demoSkills/ewa-api/ewa-api.conf
/target17/
/tomcat10demo/
