/bin/
*.bak
.DS_Store
/build/
*.class
/target/
*.log
/src/test/*.*
/.idea/
/.settings/
/.project
/.factorypath
/.classpath
/.vscode
ewa_conf.xml
ewa_conf_console.xml
*.lck
*.iml
/temp/
/debug/
demoSkills/ewa-api/ewa-api.conf
/target17/

# tomcat10demo 运行时文件
/tomcat10demo/spy.log
/tomcat10demo/hsqldb/*.script
/tomcat10demo/hsqldb/*.lobs
/tomcat10demo/hsqldb/*.properties
/tomcat10demo/hsqldb/*.log
/tomcat10demo/hsqldb/*.lck
/tomcat10demo/hsqldb/*.tmp
/tomcat10demo/hsqldb/*.tmp/*
!/tomcat10demo/hsqldb/.gitkeep
/tomcat10demo/bin/*.log
/tomcat10demo/bin/*.pid
/tomcat10demo/target/
/tomcat10demo/tomcat.*/

# 备份文件
*~
